/* Form */
.form__input {
  height: 48px;
  border-bottom: 1px solid var(--color-primary);
}

.form__button {
  color: var(--color-white);
  background: var(--color-primary);
  height: 44px;
  transition: all 0.5s;
}

.form__button:hover {
  background: none;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.form__button[disabled] {
  background: var(--color-gray-1);
  cursor: not-allowed;
  color: white;
}
.form__button[disabled]:hover {
  border: none;
}
/* Carousel */

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

/* Thumbnails */
.carousel__thumbnail-item {
  display: flex;
}

.carousel__thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: opacity 0.2s, border-color 0.3s;
}

.carousel__thumbnail--active {
  border-color: var(--color-primary);
  transform: scale(1.1);
}

.carousel__thumbnail:hover {
  transform: scale(1.1);
}

/* Header */
.header__logo-img {
  height: 40px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header--scrolled {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Description */
.description__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid var(--color-primary);
  padding: 24px;
  border-radius: 12px;
}

.description__card-image {
  width: 20%;
}

.description__image {
  border-radius: 1rem;
}

/* Gallery */

.gallery__item {
  cursor: pointer;
  overflow: hidden;
}

.gallery__item--extended {
  grid-column: 1 / 3;
}

.gallery__image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.gallery__image:hover {
  transform: scale(1.1);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox--active {
  display: flex;
}

.lightbox__image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 20px;
}

.lightbox__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

/* Testimonials */

.testimonials__slider {
  position: relative;
  overflow: hidden;
}

.testimonials__item.swiper-slide {
  font-style: italic;
  color: var(--color-gray-1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.testimonials__navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.testimonials__button {
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.testimonials__pagination {
  margin-top: 1rem;
}

.testimonials__button.swiper-button-prev,
.testimonials__button.swiper-button-next {
  color: var(--color-primary);
  padding: 10px;
}

.testimonials__pagination .swiper-pagination-bullet {
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.testimonials__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  opacity: 1;
}

/* Timer */

.timer__display {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.timer__time {
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-primary);
  border-radius: 8px;
}

.timer__cta {
  background-color: var(--color-primary);
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
}

.footer__social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-links__item {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-links__icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social-links__item:hover .social-links__icon,
.social-links__icon:hover {
  transform: scale(1.1);
}

.footer__rights {
  text-align: center;
  font-size: 1rem;
  color: var(--color-gray-1);
}

@media screen and (min-width: 1366px) {
  .carousel__banner {
    height: 500px;
  }
  .description__card {
    align-items: start;
    gap: 1rem;
    max-width: 70%;
    padding: 14px;
    flex-direction: row;
  }
  .description__card-image {
    width: 5%;
  }

  .gallery__item--extended {
    grid-column: 2 / 4;
  }

  .testimonials__item.swiper-slide {
    padding: 2rem;
    margin: 0 auto;
  }

  .testimonials__navigation {
    justify-content: center;
    gap: 1rem;
  }

  .testimonials__button {
    width: 3rem;
    height: 3rem;
  }
}
