.form {
  padding-inline: var(--spacing-1);
  padding-top: var(--spacing-4);
  background: #ccc url('../images/form-background-mobile.webp') no-repeat;
  background-size: cover;
  background-position: center center;
  flex-direction: column;
  min-height: 100vh;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: var(--spacing-1);
  padding-block: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.product {
  width: 100%;
  margin-top: 2rem;
  display: none;
  padding-inline: var(--spacing-1);
}

.description-container {
  margin-top: 5rem;
  gap: 2rem;
}

.description__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description__card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description__card-content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.carousel__banner {
  width: 100%;
  height: 200px;
  margin-top: 4rem;
  overflow: hidden;
  border-radius: 20px;
}

.carousel__thumbnails {
  margin-top: 20px;
}

.carousel__thumbnail-list {
  display: flex;
  justify-content: start;
  gap: 10px;
  list-style: none;
  padding: 1rem;
  overflow-x: auto;
}

.testimonials {
  padding: 1.5rem;
  text-align: center;
  margin-top: 5rem;
}

.gallery-container {
  margin-top: 5rem;
  padding-inline: var(--spacing-1);
}

.gallery {
  padding-block: 15px;
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.swiper {
  width: 100%;
  height: 300px;
}

.timer {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
}

.footer {
  border-top: 1px solid var(--color-primary);
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .carousel__thumbnail-list {
    justify-content: center;
  }
}

@media screen and (min-width: 1366px) {
  .form {
    padding-inline: var(--spacing-4);
    background: #ccc url('../images/form-background.webp') no-repeat;
    background-size: cover;
  }

  .form__fields {
    max-width: 40%;
  }

  .product {
    padding: var(--spacing-4);
  }

  .header {
    padding-inline: var(--spacing-4);
  }

  .description-section {
    flex-direction: row;
  }

  .description-container {
    gap: 0;
  }

  .carousel__banner {
    margin-top: auto;
  }

  .testimonials {
    padding: 0px;
  }

  .gallery-container {
    padding-inline: 0;
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    height: 550px;
  }
}
