.headline {
  font-size: 2.2rem;
  color: var(--color-primary);
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
  max-width: 60%;
  line-height: 2rem;
}

.subtitle {
  font-size: 0.8rem;
  color: var(--color-gray-1);
  margin-block: var(--spacing-1);
  max-width: 50%;
}

.header__greeting {
  font-size: 0.9rem;
  font-family: 'DM Serif Display', serif;
  color: var(--color-primary);
}

.description__title,
.gallery__title {
  font-family: 'DM Serif Display', serif;
  color: var(--color-primary);
}

.description__text {
  font-size: 0.7rem;
  color: var(--color-gray-1);
}

.description__card-title {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: var(--color-primary);
}

.description__card-text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--color-gray-1);
}

.testimonials__text {
  margin-bottom: 0.5rem;
}

.testimonials__author {
  font-size: 0.875rem;
  color: #999;
}

.testimonials__title {
  font-family: 'DM Serif Display', serif;
  color: var(--color-primary);
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
}

.timer__title {
  font-size: 1.25rem;
  color: var(--color-primary);
  font-family: 'DM Serif Display', serif;
  margin-bottom: 20px;
}

@media screen and (min-width: 1366px) {
  .headline {
    font-size: 4rem;
    max-width: 35%;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .description__title {
    font-size: 2rem;
  }

  .description__text {
    font-size: 1rem;
  }

  .description__card-title {
    text-align: start;
  }

  .description__card-text {
    text-align: start;
  }

  .header__greeting {
    font-size: 1.5rem;
  }

  .gallery__title {
    font-size: 2rem;
  }

  .testimonials__title {
    font-size: 2rem;
  }
  .timer__title {
    font-size: 2rem;
  }
}
